.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  display: flex;
  flex-flow: row wrap;
  background-color: #9840ad;
  margin-top: -24px;
  width: 100%;
  height: auto;
  border-bottom: 10px solid #ac49c5;
}
.btn-light{
  background-color: #c226e9;
  justify-self: flex-end;
  align-self: center;
  width: 250px;
  text-align: center;
  margin-right: 5px;
  font-size: 24px;
  margin-top:32px ;
  margin-bottom: 3px;
  cursor: pointer;
}
.btn-light:hover{
  background-color: #750d8f;
}
.btn-light:active{
  background-color: #c157db;
}
.body{
  text-align: start;
  margin-top: -25px;
  height:824px;
  min-height: 200px;
  background: rgb(91,188,247);
  background: linear-gradient(180deg, #c580d8, #c595d1, #ead4f0 94%);
}
.body h2{
  padding-top: 10px;
  margin-left: 24px;
}
.body dl{
  margin-top: -14px;
  margin-left: -15px;
}
.bodydiv{
  margin-top: 24px;
}
.bottom{
  text-align: left;
  padding-top: 20px;
  display: inline;
  float:left;
  background-color: #ac40ca;
  height: auto;
  width: 100%;
}